doctype html
html
head
    script(src= "../javascripts/geocoding.js")
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js')

    style.
        #myMap {
        position: absolute;
        width: 60%;
        height: 60%;
        padding: 4em;
        border-style: solid;
        border-width: 4px;
        border-color: #c4c4c4;
        }
body(onload='createMap()')
    div 
        h1 Contacts: 
        table(id=contactList)
            thead   
                tr  
                    th Name
                    th Contact by address
                    th Contact by phone
                    th Contact by email
            tbody
                each response in responseList   
                    tr 
                        td #{response.prefix + " " + response.first + " " + response.last}
                        td #{response.street + " " + response.city + ", " + response.state + " " + response.zip }
                        td #{response.phone}
                        td #{response.email}
    div
        button(type='submit')  button for later.! 
    p
        a(href='contacts')  link for something else too!.
    #myMap

