doctype html
html
head
    script(src= "../javascripts/geocoding.js")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    .container
        .card.text-white.bg-dark
            .card-header.text-center
                h1 Contact List
            .card-body
                .form-group.text-center
                    input.form-control(type="text" id="searchBox" onkeyup="searchTable()" placeholder="Search for names..")
        table.table.table-dark.table-bordered.table-hover(id="contactList")
            thead
                tr  
                    th Name
                    th Contact by address
                    th Contact by phone
                    th Contact by email
                    th 
            tbody(id = 'tableBody')
                each response in responseList       
                    tr(id='contactsTableRow')
                        //hidden attributes included for ease of access in other functions/scripts.
                        td(id="longitudeElement" hidden) #{response.longitude}
                        td(id="latitudeElement"  hidden) #{response.latitude}
                        td #{response.prefix + " " + response.first + " " + response.last} 
                        td #{response.street + " " + response.city + ", " + response.state + " " + response.zip }
                        td #{response.phone}
                        td #{response.email}
                        td(id="contactID" hidden) #{response._id}

        //create td attribute, add event listener. This event listener 
        //when clicked will call cahngeContact driver function with _id
        d-flex.p-2
            button.btn-primary(type='button' onclick= 'window.open("/mailer","_self")')  Add a new contact
        #myMap
        script. 
            createMap();

    //This script is resposnbile for addng the event listener on each table row 
    //in the table so that when its clicked the map will move to the marker.
    script.     
        var tableBody = document.getElementById('tableBody');
        for(let i = 0; i < tableBody.childNodes.length; i++) {
            let currentRow = tableBody.childNodes[i]
            tableBody.childNodes[i].addEventListener("click", function( ) {
                myMap.flyTo([parseFloat(currentRow.children[1].innerHTML), parseFloat(currentRow.children[0].innerHTML)], 8);
            });
        }

    //this script will add markers for every contact
    each response in responseList
        script.
            addMarker(#{response.longitude}, #{response.latitude})        

    //add event handler  to send ID to function which will send post request, and
    //we will be able to lookup in the database using the _id.        
    //also include event handler to delete a contact from the contact list.

    //script to add button to delete contact.
    each response, index in responseList
        script.      
            var deleteButton = document.createElement('td');
            deleteButton.className = 'container btn btn-danger btn-sm';
            var deleteText = document.createTextNode("Delete");
            deleteButton.setAttribute;
            deleteButton.addEventListener("click", function() {
                deleteContact( "#{response._id}" );
            });
            tbl = document.getElementsByTagName("body")[0];
            tr = tbl.getElementsByTagName("tr");
            deleteButton.appendChild(deleteText);
            tr[#{index} + 1].appendChild(deleteButton);
    //script to add button to update contact.
    each response, index in responseList
        script. 
            var updateButton = document.createElement('td');
            updateButton.className = 'container btn btn-primary btn-sm';
            var updateText = document.createTextNode("Update");
            updateButton.setAttribute
            updateButton.addEventListener("click", function() {
                changeContact( "#{response._id}" );
            });
            tbl = document.getElementsByTagName("body")[0];
            tr = tbl.getElementsByTagName("tr");
            //tr = tbl.getElementsByTagName("tr");
            updateButton.appendChild(updateText);
            tr[#{index} + 1].appendChild(updateButton);

    