doctype html
html
  head
    script(src = "../javascripts/geocoding.js" )
    script(src = "https://unpkg.com/axios/dist/axios.min.js")
    //bootstrap and my custom cs
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      .container
        .card.text-white.bg-dark
            .card-header.text-center
                h1 Edit Contact Information
            .card-body.text-center 
                form(action='updateDatabase' method='POST' id="myForm")
                    .row
                        .col-2
                            select.form-control#selectBox(name = 'prefix' )
                                optgroup(label="Prefix" default)
                                option#Mr(type='radio' name='prefix' value='Mr' checked='') Mr
                                option#Mrs(type='radio' name='prefix' value='Mrs') Mrs
                                option#Ms(type='radio' name='prefix' value='Ms') Ms
                                option#Dr(type='radio' name='prefix' value='Dr') Dr
                        .col
                            input.form-control#first(type='text' name='first' value= contact[0].first)
                        .col
                            input.form-control#last(type='text' name='last' value=contact[0].last)
                    .row
                        .col
                            input.form-control#street(type='text' name='street' value=contact[0].street)
                        .col    
                            input.form-control#city(type='text' name='city' value=contact[0].city)
                        .col
                            input.form-control#state(type= 'text' name='state' value=contact[0].state )
                        .col
                            input.form-control#zip(type='text' name='zip' value=contact[0].zip)
                    .row
                        .col
                            input.form-control#phone(type='text' name='phone' value=contact[0].phone)
                        .col
                            input.form-control#email(type='email' name='email' value=contact[0].email)
                        .col
                            label How may we contact you?
                            <br/>                       
                            input#phoneContact(type='checkbox' name='phoneContact')
                            label(for='phoneContact') Phone
                            
                            input#mailContact(type='checkbox' name='mailContact')
                            label(for='mailContact') Mail
                            
                            input#emailContact(type='checkbox' name='emailContact')
                            label(for='emailContact') Email
                        
                            input#anyContact(type='checkbox' name='anyContact' checked='')
                            label(for='anyContact') Any
                    div <!-- These input tags will be hidden from the user, and are used to store the longitude and latitude once we perform geocoding in javascript-->
                        input#long(type='number' name='longitude' hidden)
                        input#lat(type='number' name= 'latitude' hidden) 
                        input(type='text' name= '_id' hidden value=contact[0]._id.toString())
                    button.btn.btn-secondary(type='button' onclick = 'addLocation()' )  Update Contact Information
                    p
                    a.btn.btn-secondary(href='contacts')  View Contact List